* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("https://i.ibb.co/tDXw1gn/33-BCE9-D7-48-C3-403-F-B936-07-A6392-EBE00.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
